/* ---- body.js ---- */

/* *{margin: 0; padding: 0;} */
body,html {
    width: 100%;
    height: 100%;
}
.xuong:hover,.tt#down:hover {
    bottom: 4%;
}

.xuong:after, .tt#down:after {content: "";position: absolute;width: 4px;height: 8px;background: white;left: 50%;bottom: 67%;margin-left: -2px;}

.xuong {
    width: 40px;
    height: 69px;
    border: white solid 1px;
    position: absolute;
    left: 50%;
    border-radius: 30px;
    bottom: 1.3%;
    margin-left: -21px;
    z-index: 2;
    cursor: pointer;
    transition: 0.4s;
}


.khoittnho {
    margin-bottom: 55px;
}

.khoittnho p {
    font-size: 13px;
    line-height: 21px;
    color: #636363;
}

span.motaqt {
    font-size: 14px;
    margin-bottom: 26px;
    display: block;
}

.khoittnho h3.tieudecap3 {
    font-size: 16px;
    color: #e35855;
    margin-bottom: 20px;
}

span.dam {
    font-weight: bold;
    font-family: segoe ui;
}

h2.tieudecap2 {
    font-weight: normal;
    font-family: segoe ui light;
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 40px;
}

.tieudeto {
    margin-top: 120px;
    margin-bottom: 60px;
}

.tieudeto h1 {
    display: inline;
    background: url(../images/ke.jpg) no-repeat left bottom;
    padding-bottom: 4px;
    text-transform: uppercase;
    font-size: 30px;
}

.tt{
    position: absolute; z-index: 1;
    left: 50%;
    
}
.tt a{
    margin-left: -51px;
    width: 102px; height: 40px;  border: white solid 1px; padding: 6px 20px 7px;border-radius: 30px;
    text-decoration: none !important;  cursor: pointer;
    text-align: center; font-weight: 500;   color: white ;/*  background-color: #5a3e3e; */
    position: relative;
}
.tt a:hover{
  color: gray !important;
}
.tt a:active,.tt a:visited{
  color:white;
}

.tt h2 {
    font-size: 35px;
    text-transform: uppercase;
    color: white;
    margin-left: -143px;
    font-family: cursive;
    font-weight: bold;
}

.tt p {
    color: #373a3c;
    font-size: 16px;
    line-height: 24px;
    width: 400px;   text-align: center;
    margin-left: -200px;
}

.tt img{
    border-radius: 50%;
    margin-left: -100px;
}

.khoitt5 {
    height: 100%;
    width: 100%;
    /* background: #e9585f; */
    position: relative;
    z-index: 0;
}

a.navbar-brand {
    padding: 0;
    margin: 0;
}

/* .khoitt5:before {content: "";position: absolute;left: 0;top: 0;width: 50%;height: 100%;background: #e4555b;z-index: 0;}
 */
nav.navbar.navbar-light.bg-faded.navbar-fixed-top {
    background: white;
    width: 104%;
    z-index: 1;
}

a.nav-link {
    font-family: segoe ui;
    /*text-transform: uppercase;*/
    font-size: 15px;    font-weight: 500;
    color: #101010;
    line-height: 80px;
    float: right;
}

li.nav-item {
    margin: 0;
    padding: 0;
    margin: 0 17px;
}

nav.navbar.navbar-light.bg-faded {
    margin: 0;
    padding: 0;
    height: 100px;
}

@media (max-width: 576px){
    * {}

h2.tieudecap2.text-sm-left.text-xs-center {
    margin-top: 25px;
}

.tt img {
    width: 203px;
    margin-top: 108px;
}

li.nav-item {
    float: right;
    display: inline-block;
}

ul.nav.navbar-nav.float-xs-right {
    text-align: center;
    background: white;
    margin: 0;
    padding: 0;
    width: 104%;
    /* position: relative; */
    /* left: -8px; */
    padding: 10px 34px;
    border-top: 1px solid #d8d8d8;
}

ul.nav.navbar-nav.float-xs-right {}

li.nav-item {
    display: inline!important;
    margin: 0 0;
}

a.nav-link {
    line-height: 27px;
    display: inline!important;
}

a.navbar-brand {
    display: block;
    text-align: center;
    width: 100%;
}
#menuContact{
    position: relative !important;
}

/*  */
.follow{
    height: 90px;
}
.styletxt{
    font-size: 13px;
    font-family: sans-serif;
    margin-top: 32px;
}